html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    min-height: 740px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

pre {
    line-height: 36px !important;
    margin: 36px 0;
    overflow: auto;
    text-align: left;
    font-family: 'Consolas', Courier !important;
    padding: 10px 20px;
    background: rgba(255, 0, 0, 0.07);
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(255, 0, 0, 0.2);
    color: #333;
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
    max-height: 80%;
    font-size: 30px;
}

pre.javascript .tag {
    color: #B22222;
}

pre.javascript .value {
    color: #0790b9;
}

pre .id, pre .class {
    color: #333;
}

pre .css .value,pre .css .hexcolor {
    color: #0790b9;
}

pre .string {
    color: #c41a16;
}

pre .komentar {
    font-style: italic;
}

pre .komentar,pre .template_comment,pre .diff .header,pre .doctype,pre .lisp .string,pre .javadoc {
    color: #008000;
}

pre .css .rule .keyword,pre .winutils,pre .method, pre .addition,pre .css .tag,pre .lisp .title {
    color: #B22222;
}

pre .number,pre .command,pre .tag .value,pre .phpdoc,pre .tex .formula,pre .regexp {
    color: #333FFF;
    ;
}

pre .title,pre .keyword, pre .literal, pre .localvars,pre .function .title,pre .chunk,pre .decorator,pre .builtin,pre .built_in,pre .lisp .title,pre .identifier,pre .title .keymethods {
    color: #B412AF;
}

pre .attribute,pre .variable,pre .instancevar,pre .lisp .body,pre .smalltalk .number,pre .constant,pre .class .title,pre .parent,pre .haskell .label {
    color: #B84500;
}

pre .preprocessor,pre .pi,pre .shebang,pre .symbol,pre .diff .change,pre .special,pre .keymethods,pre .attr_selector,pre .important,pre .subst,pre .cdata {
    color: #cb4b16;
}

pre .deletion {
    color: #dc322f;
}

pre .tex .formula {
    background: #eee8d5;
}

pre .rules .property,pre .django .tag .keyword {
    font-weight: bold;
}

img {
    max-height: 507px;
    max-width: 500px;
    margin: 10px 0 10px 0;
    border: thin solid #CCC;
    padding: 4px;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1;
}

.slide {
    display: block;
    width: 900px;
    height: 700px;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: #333;
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 30px;
    line-height: 72px;
    margin-top: 10px;
}

.slide q strong {
    white-space: nowrap;
}

span.code {
    font-family: "Consolas";
    background: #f0f0f0;
    padding: 3px;
}

.slide h1, .judul {
    font-size: 59px;
    line-height: normal;
    margin-bottom: 15px;
}

#HTML {
    padding: 0;
}

#HTML h1 {
    font-size: 190px;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
}

#CSS {
    width: 600px;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

#CSS b {
    display: block;
    font-size: 150px;
    line-height: 150px;
}

#struktur-css {
    width: 1000px;
}

#struktur-css p {
    font-size: 30px;
}

#css-animate {
    width: 600px;
}

#css-animate b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#css-animate.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

#css-animate.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

#css-animate.present .scaling {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

#contoh-css {
    width: 1000px;
}

#contoh-css p {
    font-size: 30px;
}

#JavaScript {
    width: 825px;
    font-size: 85px;
    padding-top: 120px;
    background-image: url(../../img/logo-javascript.png);
    background-position: top right;
    background-repeat: no-repeat;
    text-align: center;
}

#JavaScript q {
    font-size: 110px;
    font-weight: bold;
}

#overview {
    display: none;
}

.impress-on-overview .step {
    opacity: .3;
}

.impress-on-overview #HTML, .impress-on-overview #CSS, .impress-on-overview #JavaScript {
    cursor: pointer;
    opacity: 1;
}

.hint {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition: opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition: opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition: opacity 1s,      -o-transform 0.5s 1s;
    transition: opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint {
    display: block;
}

.impress-on-HTML .hint {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition: opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition: opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition: opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition: opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled {
    pointer-events: none;
}

.impress-enabled #impress {
    pointer-events: auto;
}