<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>
<div class="col-sm-2 col-xs-4 media-item">
	<img src="img/media-list.png" alt="" class="fit-cover">
</div>