@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

html, body{
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body{
  background: #fff;
  color: #566473;
  line-height: 1.25;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.title, h1, h2{
  color: #FC4349;
}

.title{
  text-shadow: 0 0 15px rgba(0,0,0,0.6);
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  z-index: 200;
  font-weight: 700;
}

/*NAVBAR STYLE*/

.navbar-fixed-top.default{
  padding: 20px 0;
  margin: 0;
}

@media (min-width:992px) {
    .navbar-fixed-top.default .container{
      padding: 0 55px;
    }
}

@media (min-width:1200px) {
    .navbar-fixed-top.default .container{
      padding: 0 95px;
    }
}

.navbar-fixed-top .navbar-brand{
  font-size: 30px;  
}

/*HEADER STYLE*/

.header-section{
  position: relative;
  height: 100%;
  color: #FFFFFF;
}

.title-header{
  margin-top: -20px;
}

.title-header ul {
    position: relative;
}

.title-header ul > * {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    top: -100px;
}

.title-header ul > *:first-child {
    opacity: 1;
    top: 0;
}

.header-section .desc{
  color: #D7DADB;
}

.header-image {
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-image: url(../img/power-of-brooklyn.jpg);
  background-attachment: fixed;
  -webkit-animation: animatedBackground 60s linear infinite;
  -moz-animation: animatedBackground 60s linear infinite;
  animation: animatedBackground 60s linear infinite;
}

@keyframes animatedBackground{
  from {
    background-position: 1920px 0;
    }
  to {
    background-position: 0 0; 
    }
}

@-webkit-keyframes animatedBackground{
  from {
    background-position: 1920px 0;
    }
  to {
    background-position: 0 0; 
    }
}

@-moz-keyframe animatedBackground {
  from {
    background-position: 1920px 0;
    }
  to {
    background-position: 0 0; 
    }
}

.header-overlay{
  background-color: rgba(18, 18, 18, 0.7);
  background-image: url(../img/overlay-pattern.png) !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
}

.vcenter-element{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}