/* TYPHOGRAPHY */
html,
body {
		height: 100%;
		-webkit-font-smoothing: antialiased;
}

body {
		overflow-x: hidden;
		color: #222;
		background: #FFF;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		padding: 0px !important;
		margin: 0px !important;
		border: 0px !important;
		height: 100%;
		width: 100%;
		line-height: 1.55;
}

body.loading {
		overflow-x: hidden;
		overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		padding: 0;
		margin-top: 0;
		color: #fff;
}

p {
		font-size: 14px;
}

a,
a:hover,
a:focus {
		color: inherit;
		cursor: pointer;
		text-decoration: none;
}
/* PRELOADER */
/* MISC */
.quote {
		border-left: 4px solid #00C19D;
		padding: 0 0 0 20px;
		margin: 80px 0 0;
}

.form-title {
		display: block;
		position: relative;
		padding: 20px;
		text-align: center;
		background-color: #00C19D;
		margin: 0;
}

.form-panel {
		display: block;
		position: relative;
		padding: 50px;
		text-align: center;
}

.form-panel:before {
		content: '';
		position: absolute;
		background: url("../img/form-bg.png") center top;
		height: 22px;
		top: 0;
		left: 0;
		right: 0;
		background-color: #00C19D;
}

.panel-flip-container {
		position: relative;
		margin-bottom: 45px;
		min-height: 400px;
		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		-ms-perspective: 800px;
		perspective: 800px;
}

.panel-flip-container .panel-flip {
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transition: transform 1s;
		-moz-transition: transform 1s;
		-ms-transition: transform 1s;
		transition: transform 1s;
}

.panel-flip-container .panel-flip figure {
		display: table;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		background: url("../img/form-bg.png") center bottom;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
}

.panel-flip-container .panel-flip figure .form-title {
		display: table-caption;
}

.panel-flip-container .panel-flip figure .form-panel {
		display: table-cell;
		vertical-align: middle;
}

.panel-flip-container .panel-flip .front {
		z-index: -1;
}

.panel-flip-container .panel-flip .back {
		z-index: 0;
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
}

.panel-flip-container .panel-flip.flipped {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform: rotateY(180deg);
}

.count-down {
		margin-bottom: 80px;
}

.count-down div {
		display: inline-block;
		font-size: 45px;
		font-weight: normal;
		color: #fff;
		vertical-align: middle;
		line-height: 1.2;
		color: #00C19D;
		padding: 0 11px;
		margin: 0;
}

.count-down div:last-child {
		border-right: 0;
}

.count-down div span {
		display: block;
		font-size: 20px;
}

.btn-subscribe {
		display: block;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		background-color: #00C19D;
}

.btn-subscribe:hover {
		background-color: #00a888;
}

#bg-slider,
#bg-slider:after {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -999;
		list-style: none;
}

#bg-slider:after {
		content: '';
		background: rgba(0, 0, 0, 0) url(../img/pattern.gif) repeat top left;
		opacity: 0.5;
}

#bg-slider li span {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: none;
		opacity: 0;
		z-index: -9999;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-animation: imageSlider 36s linear infinite 0s;
		-moz-animation: imageSlider 36s linear infinite 0s;
		-ms-animation: imageSlider 36s linear infinite 0s;
		animation: imageSlider 36s linear infinite 0s;
}

#bg-slider li:nth-child(1) span {
		background-image: url('https://unsplash.it/1600/1607?image=864');
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		-ms-animation-delay: 0s;
		animation-delay: 0s;
}

#bg-slider li:nth-child(2) span {
		background-image: url('https://unsplash.it/1600/1607?image=857');
		-webkit-animation-delay: 6s;
		-moz-animation-delay: 6s;
		-ms-animation-delay: 6s;
		animation-delay: 6s;
}

#bg-slider li:nth-child(3) span {
		background-image: url('https://unsplash.it/1600/1607?image=799');
		-webkit-animation-delay: 12s;
		-moz-animation-delay: 12s;
		-ms-animation-delay: 12s;
		animation-delay: 12s;
}

#bg-slider li:nth-child(4) span {
		background-image: url('https://unsplash.it/1600/1607?image=737');
		-webkit-animation-delay: 18s;
		-moz-animation-delay: 18s;
		-ms-animation-delay: 18s;
		animation-delay: 18s;
}

#bg-slider li:nth-child(5) span {
		background-image: url('https://unsplash.it/1600/1607?image=690');
		-webkit-animation-delay: 24s;
		-moz-animation-delay: 24s;
		-ms-animation-delay: 24s;
		animation-delay: 24s;
}

#bg-slider li:nth-child(6) span {
		background-image: url('https://unsplash.it/1600/1607?image=744');
		-webkit-animation-delay: 30s;
		-moz-animation-delay: 30s;
		-ms-animation-delay: 30s;
		animation-delay: 30s;
}

@-webkit-keyframes imageSlider {
		0% {
				opacity: 0;
				-webkit-animation-timing-function: ease-in;
				-moz-animation-timing-function: ease-in;
				-ms-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}

		8% {
				opacity: 1;
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
				-webkit-animation-timing-function: ease-out;
				-moz-animation-timing-function: ease-out;
				-ms-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}

		17% {
				opacity: 1;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
		}

		22% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-20%);
				-moz-transform: scale(1.1) translateY(-20%);
				-ms-transform: scale(1.1) translateY(-20%);
				transform: scale(1.1) translateY(-20%);
		}

		25% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-100%);
				-moz-transform: scale(1.1) translateY(-100%);
				-ms-transform: scale(1.1) translateY(-100%);
				transform: scale(1.1) translateY(-100%);
		}

		100% {
				opacity: 0;
		}
}

@-moz-keyframes imageSlider {
		0% {
				opacity: 0;
				-webkit-animation-timing-function: ease-in;
				-moz-animation-timing-function: ease-in;
				-ms-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}

		8% {
				opacity: 1;
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
				-webkit-animation-timing-function: ease-out;
				-moz-animation-timing-function: ease-out;
				-ms-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}

		17% {
				opacity: 1;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
		}

		22% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-20%);
				-moz-transform: scale(1.1) translateY(-20%);
				-ms-transform: scale(1.1) translateY(-20%);
				transform: scale(1.1) translateY(-20%);
		}

		25% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-100%);
				-moz-transform: scale(1.1) translateY(-100%);
				-ms-transform: scale(1.1) translateY(-100%);
				transform: scale(1.1) translateY(-100%);
		}

		100% {
				opacity: 0;
		}
}

@-ms-keyframes imageSlider {
		0% {
				opacity: 0;
				-webkit-animation-timing-function: ease-in;
				-moz-animation-timing-function: ease-in;
				-ms-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}

		8% {
				opacity: 1;
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
				-webkit-animation-timing-function: ease-out;
				-moz-animation-timing-function: ease-out;
				-ms-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}

		17% {
				opacity: 1;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
		}

		22% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-20%);
				-moz-transform: scale(1.1) translateY(-20%);
				-ms-transform: scale(1.1) translateY(-20%);
				transform: scale(1.1) translateY(-20%);
		}

		25% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-100%);
				-moz-transform: scale(1.1) translateY(-100%);
				-ms-transform: scale(1.1) translateY(-100%);
				transform: scale(1.1) translateY(-100%);
		}

		100% {
				opacity: 0;
		}
}

@-o-keyframes imageSlider {
		0% {
				opacity: 0;
				-webkit-animation-timing-function: ease-in;
				-moz-animation-timing-function: ease-in;
				-ms-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}

		8% {
				opacity: 1;
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
				-webkit-animation-timing-function: ease-out;
				-moz-animation-timing-function: ease-out;
				-ms-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}

		17% {
				opacity: 1;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
		}

		22% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-20%);
				-moz-transform: scale(1.1) translateY(-20%);
				-ms-transform: scale(1.1) translateY(-20%);
				transform: scale(1.1) translateY(-20%);
		}

		25% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-100%);
				-moz-transform: scale(1.1) translateY(-100%);
				-ms-transform: scale(1.1) translateY(-100%);
				transform: scale(1.1) translateY(-100%);
		}

		100% {
				opacity: 0;
		}
}

@keyframes imageSlider {
		0% {
				opacity: 0;
				-webkit-animation-timing-function: ease-in;
				-moz-animation-timing-function: ease-in;
				-ms-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}

		8% {
				opacity: 1;
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
				-webkit-animation-timing-function: ease-out;
				-moz-animation-timing-function: ease-out;
				-ms-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}

		17% {
				opacity: 1;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
		}

		22% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-20%);
				-moz-transform: scale(1.1) translateY(-20%);
				-ms-transform: scale(1.1) translateY(-20%);
				transform: scale(1.1) translateY(-20%);
		}

		25% {
				opacity: 0;
				-webkit-transform: scale(1.1) translateY(-100%);
				-moz-transform: scale(1.1) translateY(-100%);
				-ms-transform: scale(1.1) translateY(-100%);
				transform: scale(1.1) translateY(-100%);
		}

		100% {
				opacity: 0;
		}
}

#loading {
		display: table-cell;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		background-color: #FFF;
		vertical-align: middle;
}

#loading .loading-center {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 100%;
		height: 50px;
		text-align: center;
}

#loading .loading-center .connection {
		margin: 0;
		display: none;
}

#loading .loading-center span[class*='l-'] {
		display: inline-block;
		padding: 3px;
		background-color: #00C19D;
		margin: 12px 2px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		border-radius: 100%;
		-webkit-animation: loader 4s infinite;
		-moz-animation: loader 4s infinite;
		-ms-animation: loader 4s infinite;
		animation: loader 4s infinite;
		-webkit-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
		-webkit-animation-fill-mode: both;
		-moz-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
		-moz-animation-fill-mode: both;
		-ms-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
		-ms-animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
		animation-fill-mode: both;
}

@-webkit-keyframes loader {
		0% {
				-webkit-transform: translateX(-30px);
				-moz-transform: translateX(-30px);
				-ms-transform: translateX(-30px);
				transform: translateX(-30px);
				opacity: 0;
		}

		20% {
				opacity: 1;
		}

		50% {
				-webkit-transform: translateX(30px);
				-moz-transform: translateX(30px);
				-ms-transform: translateX(30px);
				transform: translateX(30px);
				opacity: 0;
		}

		100% {
				opacity: 0;
		}
}

@-moz-keyframes loader {
		0% {
				-webkit-transform: translateX(-30px);
				-moz-transform: translateX(-30px);
				-ms-transform: translateX(-30px);
				transform: translateX(-30px);
				opacity: 0;
		}

		20% {
				opacity: 1;
		}

		50% {
				-webkit-transform: translateX(30px);
				-moz-transform: translateX(30px);
				-ms-transform: translateX(30px);
				transform: translateX(30px);
				opacity: 0;
		}

		100% {
				opacity: 0;
		}
}

@-ms-keyframes loader {
		0% {
				-webkit-transform: translateX(-30px);
				-moz-transform: translateX(-30px);
				-ms-transform: translateX(-30px);
				transform: translateX(-30px);
				opacity: 0;
		}

		20% {
				opacity: 1;
		}

		50% {
				-webkit-transform: translateX(30px);
				-moz-transform: translateX(30px);
				-ms-transform: translateX(30px);
				transform: translateX(30px);
				opacity: 0;
		}

		100% {
				opacity: 0;
		}
}

@keyframes loader {
		0% {
				-webkit-transform: translateX(-30px);
				-moz-transform: translateX(-30px);
				-ms-transform: translateX(-30px);
				transform: translateX(-30px);
				opacity: 0;
		}

		20% {
				opacity: 1;
		}

		50% {
				-webkit-transform: translateX(30px);
				-moz-transform: translateX(30px);
				-ms-transform: translateX(30px);
				transform: translateX(30px);
				opacity: 0;
		}

		100% {
				opacity: 0;
		}
}

#loading .loading-center span.l-1 {
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		-ms-animation-delay: 1s;
		-moz-animation-delay: 1s;
}

#loading .loading-center span.l-2 {
		-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
		-ms-animation-delay: 0.8s;
		-moz-animation-delay: 0.8s;
}

#loading .loading-center span.l-3 {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
		-ms-animation-delay: 0.6s;
		-moz-animation-delay: 0.6s;
}

#loading .loading-center span.l-4 {
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s;
}

#loading .loading-center span.l-5 {
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
		-ms-animation-delay: 0.2s;
		-moz-animation-delay: 0.2s;
}

#loading .loading-center span.l-6 {
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
		-ms-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#header {
		color: #FFF;
		margin-bottom: 0;
		min-height: 100%;
		position: relative;
}

#header.jumbotron {
		background-color: rgba(0, 0, 0, 0.3);
}

#header .logo {
		font-family: 'Great Vibes', cursive;
		font-size: 60px;
}

#header .logo a {
		color: #FFF;
		border-bottom: 4px solid #00C19D;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		transition: none;
}

#header h1 {
		font-size: 4.8rem;
}

#header h1.slide {
		left: 20px !important;
}

#header p {
		margin: 45px 0;
}

#header button {
		background-color: #00C19D;
		border: none;
		line-height: 50px;
		text-align: center;
}

#header button.detail {
		width: 250px;
}

#header button:hover {
		background-color: #00a888;
}

#header .subscribe-form {
		display: inline-block;
		border: 4px solid #00C19D;
		background-color: #00C19D;
}

#header .subscribe-form input {
		-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		-ms-border-radius: 0 !important;
		border-radius: 0 !important;
}

#header .subscribe-form button {
		position: relative;
		line-height: inherit;
		background-color: #EDEEF0;
		border-left: 4px solid #00C19D;
		color: #00C19D;
		z-index: 1;
		-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		-ms-border-radius: 0 !important;
		border-radius: 0 !important;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
}

#header .subscribe-form button:before {
		content: '';
		position: absolute;
		background-color: #00C19D;
		width: 0;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
}

#header .subscribe-form button:hover {
		color: #FFF;
}

#header .subscribe-form button:hover:before {
		width: 100%;
}

#header #copyright {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px 50px;
		background-color: #24242D;
		border-top: 2px solid #00C19D;
		color: #FFF;
		font-size: 13px;
		text-transform: uppercase;
}

#header #copyright a {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		transition: none;
}

@media (max-width: 769px) {
		.quote {
				padding: 0;
				border-left: 0;
		}

		.form-panel {
				height: auto;
		}

		.count-down {
				margin: 20px 0 30px;
		}

		.count-down div {
				font-size: 30px;
				margin-bottom: 15px;
		}

		.count-down div span {
				font-size: 15px;
		}

		#header .panel-flip-container {
				margin-top: 45px;
				margin-bottom: 0;
		}

		#header .panel-flip-container .panel-flip figure {
				height: 77%;
		}

		#header button.detail {
				width: 100%;
		}

		#header h1.slide {
				left: 0 !important;
		}
}
