body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    height: 12px;
    overflow: visible;
    width: 12px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    background-color: rgba(0,0,0,.05);
    border: solid transparent;
    border-width: 0 0 0 5px;
}

::-webkit-scrollbar-track:horizontal {
    border-width: 5px 0 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 70px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 1px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

iframe::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 17px;
}

iframe::-webkit-scrollbar-track {
    border-width: 0 0 0 0px;
}

iframe::-webkit-scrollbar-track:horizontal {
    border-width: 0px 0 0;
}

iframe::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
}

iframe::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}

iframe::-webkit-scrollbar-track:active {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}

iframe::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);
}

iframe::-webkit-scrollbar-thumb {
    background-color: rgba(42, 42, 42, 0.3);
    border-width: 1px 1px 1px 1px;
}

iframe::-webkit-scrollbar-thumb:hover {
    background-color: rgba(42, 42, 42, 0.5);
}

iframe::-webkit-scrollbar-thumb:active {
    background-color: rgba(42, 42, 42, 0.6);
}

*, html, body {
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    overflow: hidden;
}

*, body, button, input, textarea, select {
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Noto Sans", "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3e), color-stop(100%, #2a2a2a));
    background: -webkit-linear-gradient(#3d3d3e,#2a2a2a);
    background: -moz-linear-gradient(#3d3d3e,#2a2a2a);
    background: linear-gradient(#3d3d3e,#2a2a2a);
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 12px;
}

/* HEADER */
.header {
    display: block;
    position: relative;
    z-index: 6000;
    background: #212121;
    border-bottom: 1px solid #3d3d3d;
    box-sizing: border-box;
    min-width: 726px;
}

.gabung:before, .gabung:after {
    content: "";
    display: table;
}

.gabung:after {
    clear: both;
}

.code {
    background: #DDD;
    padding: 1px 5px;
    width: 95%;
    font-family: monospace;
    cursor: pointer;
}

.logo {
    float: left;
    margin: 0 5px 0 0;
    position: relative;
    z-index: 1;
    height: 65px;
    background: #3d3d3e;
    box-shadow: 0 0px 0 #3d3d3d;
}

.logo span.gbr {
    font: 0/0 a;
    background: url("../img/logo.png") no-repeat 0 center;
    width: 211px;
    height: 100%;
    display: block;
    border: 0;
    outline: 0;
}

ul.menu {
    height: 64px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float: left;
    margin: 0 0 0 -5px;
    padding: 0;
}

ul.menu li {
    list-style: none;
    float: left;
    height: 64px;
    text-align: center;
    background: radial-gradient(circle, rgba(31,169,244,1), rgba(0,28,78, 1));
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 45px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}

ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 65px;
    background: -webkit-linear-gradient(rgb(61, 61, 62), rgb(42, 42, 42));
    background: -moz-linear-gradient(rgb(61, 61, 62), rgb(42, 42, 42));
    background: linear-gradient(rgb(61, 61, 62), rgb(42, 42, 42));
    box-shadow: rgb(61, 61, 61) 0px 1px 0px;
}

ul.menu li a:hover {
    background: transparent;
    color: #363636;
}

#countDown {
    display: inline-block;
    color: #FFF;
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 40px;
}

/*---- SIDEBAR ----*/

#sidebar {
    padding: 0;
    margin: 0;
    position: absolute;
    border-right: 1px solid #3d3d3e;
    left: 0;
    font-size: 14px;
    cursor: default;
    z-index: 1;
    opacity: 0;
}

ul#pengaturan {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 15em;
}

ul#pengaturan li {
    background-color: #45484d;
    *zoom: 1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3e), color-stop(100%, #333));
    background-image: -webkit-linear-gradient(top, #3d3d3e 0%, #333 100%);
    background-image: -moz-linear-gradient(top, #3d3d3e 0%, #333 100%);
    background-image: linear-gradient(#3d3d3e 0%, #333 100%);
    box-shadow: inset 0 1px 2px #3d3d3e, inset 0 -1px 2px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: auto;
    line-height: 2.5em;
    padding-left: 10px;
    position: relative;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3), -1px -1px 4px rgba(255, 255, 255, 0.1);
    transition: 0.4s border ease-in-out;
    -webkit-transition: 0.4s border ease-in-out;
    width: 100%;
}

ul#pengaturan li:before {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.8em;
    line-height: 1.6;
    position: absolute;
    left: -1.3em;
    top: 0;
}

ul#pengaturan li:first-child {
    border-left: 6px solid #2ecc72;
}

ul#pengaturan li:first-child:before {
    content: '\f121';
    font-size: 22px;
    line-height: 1.7em;
    left: -34px;
}

ul#pengaturan li:first-child:hover {
    border-left: 3em solid #2ecc72;
}

ul#pengaturan li:nth-child(2) {
    border-left: 6px solid #8e45ad;
}

ul#pengaturan li:nth-child(2):before {
    content: '\f02c';
    font-size: 22px;
    line-height: 1.7em;
    left: -34px;
}

ul#pengaturan li:nth-child(2):hover {
    border-left: 3em solid #8e45ad;
}

ul#pengaturan li:nth-child(3) {
    border-left: 6px solid #e67e12;
}

ul#pengaturan li:nth-child(3):before {
    content: '\f0e4';
    font-size: 22px;
    line-height: 1.7em;
    left: -34px;
}

ul#pengaturan li:nth-child(3):hover {
    border-left: 3em solid #e67e12;
}

ul#pengaturan li:nth-child(4) {
    border-left: 6px solid #3499db;
}

ul#pengaturan li:nth-child(4):before {
    content: '\f164';
    font-size: 22px;
    line-height: 1.7em;
    left: -34px;
}

ul#pengaturan li:nth-child(4):hover {
    border-left: 3em solid #3499db;
}

.setengah{
    width: 50% !important;
}

label {
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    font-size: 13px;
    color: #222;
    text-shadow: #999 1px 0;
}

input[type=checkbox] {
    display: none;
}

label.radio:before, label.checkbox:before {
    content: "";
    width: 13px;
    height: 13px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: #3d3d3e;
}

label.checkbox:before {
    border-radius: 3px;
}

label.radio:before {
    border-radius: 50%;
}

input[type=checkbox]:checked + label.checkbox:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

input[type=checkbox].radioBtn:checked + label.radio:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 28px;
    text-align: center;
    line-height: 13px;
    padding-right: 1px;
}

input[type=checkbox].radioBtn:checked + label.radio, input[type=checkbox]:checked + label.checkbox {
    color: #fff;
}

#score {
    text-align: center;
    color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 80px;
    line-height: 1;
    background: #E9967A;
    text-shadow: 2px 2px #9E4F4F;
    display: none;
}

#score span, .lihatScore {
    padding-top: 14px;
    padding-bottom: 14px;
    background: #F0503F;
    color: #FFF;
    display: block;
    font-size: 20px;
}

.lihatScore {
    cursor: pointer;
}

/*
input[type=checkbox].css-checkbox { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0);  
  height:1px;  
  width:1px;  
  margin:-1px;  
  padding:0; 
  border:0; 
}  

input[type=checkbox].css-checkbox + label.css-label { 
  padding-left:20px; 
  height:15px;  
  display:inline-block; 
  line-height:15px; 
  background-repeat:no-repeat; 
  background-position: 0 0; 
  font-size:14px; 
  vertical-align:middle; 
  color: #222;
  text-shadow: #999 1px 0;
  cursor:pointer; 
}  

input[type=checkbox].css-checkbox:checked + label.css-label { 
  background-position: 0 -15px; 
  color: #fff !important;
}  

.css-label{ 
  background-image:url(../img/dark-check-green.png); 
  font-size: 12px;
}
*/

ul#pengaturan li .content {
    margin-left: -3.5em;
    padding: 0 10px;
    height: 0px;
    border-top-style: none;
    border-bottom-style: none;
    overflow: hidden;
}

.contentFramework {
    background-color: rgb(46, 204, 114);
}

.contentOption {
    background-color: rgb(142, 69, 173);
    line-height: 2.8em;
}

.contentCSS {
    background-color: rgb(230, 126, 18);
}

.contentProject {
    background-color: #3499DB;
}

.contentProject a {
    font-size: 13px;
}

ul#pengaturan li select {
    width: 100%;
    margin: 3px 0;
    color: #626262;
    border: solid 1px #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    font-family: "Noto Sans", "Helvetica";
    font-size: 12px;
    border-radius: 3px;
    height: 25px;
}

ul#pengaturan li.active {
    border-left-width: 3em !important;
}

div.normalize {
    padding: 10px 0;
    max-height: 100%;
}

ul#pengaturan li span {
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

ul#pengaturan li input[type='text'], li textarea {
    color: #626262;
    border: solid 1px #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 2px;
    font-family: "Noto Sans", "Helvetica";
    font-size: 12px;
    padding: 0 3px;
    height: 25px;
}

ul#pengaturan  input[type='text'].warning {
    border: 1px solid rgb(224, 139, 133);
    background: rgb(246, 192, 224);
    color: rgb(160, 0, 0);
}

ul#pengaturan li .contentOption textarea {
    max-height: 60px;
    height: 60px;
    max-width: 100%;
    margin: 10px 0;
}

ul#pengaturan li .contentOption legend{
    font-size: 14px;
    margin-bottom: -10px;
}

.contentCSS #uri_css_external_resources_list, .contentFramework #uri_js_external_resources_list {
    margin-left: -3.5em;
}

.listEx {
    max-height: 150px;
    overflow: auto;
    padding-bottom: 5px;
}

.contentCSS #uri_css_external_resources_list li, .contentFramework #uri_js_external_resources_list li {
    padding: 5px 20px 3px 10px;
    position: relative;
    background: none !important;
    border: 0 !important;
    font-size: 12px !important;
    line-height: 1.3em !important;
    box-shadow: none !important;
    text-shadow: none !important;
    word-wrap: break-word;
}

.contentCSS #uri_css_external_resources_list li .filename, .contentFramework #uri_js_external_resources_list li .filename, a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.contentCSS #uri_css_external_resources_list li .filename:hover, .contentFramework #uri_js_external_resources_list li .filename:hover, a:hover {
    text-decoration: underline;
}

.contentCSS #uri_css_external_resources_list li:before, .contentFramework #uri_js_external_resources_list li:before {
    content: '' !important;
    font-size: 0px !important;
    left: 0 !important;
}

.contentCSS #uri_css_external_resources_list li .remove, .contentFramework #uri_js_external_resources_list li .remove {
    position: absolute;
    top: 7px;
    right: 0;
    display: block;
    text-indent: -9000em;
    width: 13px;
    height: 13px;
    background: url("../img/hapus.png") no-repeat;
    cursor: pointer;
}



/*---- ERROR MESSAGE ----*/

.warBox, .err, .tour {
    height: 0px;
    width: 100%;
    top: 0;
    z-index: 99999999;
    position: absolute;
    display: none;
    text-align: center;
    background: rgba(0,0,0,.9);
}

.tour {
    height: 100% !important;
}

.success, .warningg, .error, .html-inject {
    border: 1px solid;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 14px;
    text-align: left;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    max-width: 50%;
    word-wrap: break-word;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../img/success.png');
}

.warningg, .html-inject {
    color: #9F6000;
    background: url('../img/warning.png') no-repeat scroll 0.8em 0.9em #FEEFB3;
    display: inline-block;
    max-width: 350px;
    margin-top: 150px;
}

.html-inject {
    height: 22px;
    width: 100%;
    max-width: 100% !important;
    bottom: 0;
    display: none;
    margin: 0;
    position: absolute;
    cursor: pointer;
}

.mulai {
    text-align: right;
    margin: 15px 15px 0 0;
}

.mulai .btnMulai {
    padding: 5px 10px;
    background: #9F6000;
    border-radius: 4px;
    color: #feefb0;
    cursor: pointer;
}

.error {
    color: rgb(216, 0, 12);
    background-color: rgb(255, 186, 186);
    background-image: url("../img/error.png");
}

  /*---- CONTENT ----*/

.tutup {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 32px;
}

#editor {
    margin: 0px 0px 0px 211px;
    position: relative;
    opacity: 0;
}

.tab {
    color: rgb(17, 17, 17);
    width: 100%;
    border: 1px solid rgb(34, 34, 34);
}

.tab > ul {
    margin: -1px 0 0 0;
    padding: 0;
}

.tab > ul li {
    text-align: center !important;
    list-style: none;
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 25%;
    font-weight: bolder;
}

.tab > ul a {
    display: block;
    padding: 6px 10px;
    text-decoration: none!important;
    margin: 1px;
    margin-left: 0;
    color: #FFF;
    background: #444;
    border-bottom: 1px solid #777;
    border-right: 1px solid #555;
}

.tab > ul a:hover {
    color: #FFF;
    background: #333;
}

.tab > ul a.selected {
    margin-bottom: 0;
    color: #fff;
    background: #333;
    border-bottom: 2px solid cyan;
    cursor: default;
}

.tab > div.editor {
    padding: 0;
    clear: left;
    height: 250px;
}

.cm-comment {
    font-style: italic;
}

.result {
    width: 100%;
    min-height: 13px;
    height: 100%;
    bottom: 0;
}

.CodeMirror {
    height: 100%;
    width: 100%;
    float: left;
}

.CodeMirror-gutters {
    height: 100% !important;
}

.CodeMirror-gutter-elt .js_error, .CodeMirror-gutter-elt .css_warning {
    color: #FFF;
    background: #FF4D4D;
    border-radius: 50%;
    font-size: 10px;
    padding: 1px 3px;
    font-weight: bolder;
    cursor: help;
    height: 100%;
}

.CodeMirror-gutter-elt .css_warning {
    background: #E9FD00;
    color: #333;
}

.resizer {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #505050), color-stop(100%, #383838));
    background: -webkit-linear-gradient(#505050,#383838);
    background: -moz-linear-gradient(#505050,#383838);
    background: linear-gradient(#505050,#383838);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);
    z-index: 250;
    width: 100%;
    height: 12px;
    cursor: row-resize;
    position: absolute;
}

iframe {
    background: #fff;
    height: 100%;
    width: 100%;
    border: 0;
}

.boxAtt {
    width: 300px;
    height: 210px;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    box-shadow: 0px 0px 250px rgba(255,255,255,.8);
    text-align: center;
}

.boxAtt .titleForm {
    width: 298px;
    height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 1px;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-family: Arial;
}

.titleForm .btnClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    text-indent: -9000em;
    width: 13px;
    height: 13px;
    background: url("../img/hapus.png") no-repeat;
    cursor: pointer;
}

.boxAtt input[type=text].namafile, .boxAtt textarea.htmlCd {
    width: 240px;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    border-radius: 6px;
    border: #0b0b0b solid 1px;
    margin: 0 auto !important;
}

.boxAtt textarea.htmlCd {
    max-width: 240px;
    max-height: 30px;
}

.saveFile {
    width: 240px;
    height: 12px;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    background: rgba(31,169,244,1);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: Arial;
    margin: 20px auto;
}

.fullScreen, .fullScreenModul, .clrConsole {
    position: absolute;
    right: 22px;
    margin-top: 5px;
    opacity: .5;
    border: 1px solid #bbb;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    cursor: pointer;
    color: #fff;
    padding: 3px 5px;
    background: #333;
    font-family: cursive, initial;
}

.clrConsole{
    position: fixed;
    font-family: monospace;
}

.fullScreen:hover, .fullScreenModul:hover, .clrConsole:hover {
    opacity: 1;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.CodeMirror-foldmarker {
    font-family: arial !important;
    line-height: .3;
    cursor: pointer;
    font-size: 17px;
    margin: 0 5px;
}

.CodeMirror-foldgutter {
    width: .7em;
}

.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded {
    color: #bbb;
    cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}

.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}

.cm-searching {
    background: rgba(46, 197, 161, 0.92);
    color: #FFF !important;
    padding: 3px 0px 0;
}

.FScreen {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
    z-index: 8000 !important;
}

#html .CodeMirror.FScreen:before, #css .CodeMirror.FScreen:before, #js .CodeMirror.FScreen:before {
    content: "<html>";
    position: fixed;
    right: 0.5em;
    font-size: 50px;
    top: 0.5em;
    opacity: .2;
    font-family: consolas;
}

#css .CodeMirror.FScreen:before{
    content: "<style>"
}

#js .CodeMirror.FScreen:before{
    content: "<script>"
}

.shortcut {
    padding: 10px;
    background: #FFF;
    z-index: 99999999;
    font-size: 1em;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
    border: solid 1px #ACB3B9;
    position: absolute;
    display: none;
    opacity: 0;
    cursor: move;
}

.btnTutupBantuan {
    background: url(../img/tutup.png) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    text-indent: -9000em;
    cursor: pointer;
}

.bantuan {
    color: #FFF;
    font-size: 15px;
    background: url(../img/jalan-pintas.png) no-repeat 0 -2px;
    background-size: 25px auto;
    padding: 3px 0 3px 25px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 45px;
}

fieldset {
    margin: 15px 10px;
    border-radius: 5px;
}

fieldset table {
    margin: 15px 10px;
    width: 96%;
}

fieldset table td {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

kbd {
    border: solid 1px #ABABAB;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
    color: #555;
}

legend {
    font-size: 1.5em;
}

div.consoleLog{
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
    display: none;
    height: 100%;
    background: #202020;
    color: #fff;
    font-family: "monospace", Courier New, Lucida Console;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
}

ul.logging, ul.logging li ul{
    margin: 40px 10px 10px;
    max-height: 100%;
    padding: 0;
}

ul.logging li{
    list-style: none;
    padding: 1px 5px;
    margin: 15px 0;
}

ul.logging li ul li{
    list-style: none;
    padding: 1px 5px;
    margin:0;
}

ul.logging li span.errorLog{
    color: #cc0000;
}

ul.logging li span.errorLog:before {
content: "ERROR ";
}

ul.logging li span.warnLog{
    color: #ff8800;
}

ul.logging li span.warnLog:before {
content: "WARNING ";
}

ul.logging li span.infoLog{
    color: #2a9fd6;
}

ul.logging li span.infoLog:before {
content: "INFO ";
}

ul.logging li span.succesLog{
    color: #77b300;
}

ul.logging li span.succesLog:before {
content: "SUCCESS ";
}

ul.logging li ul{
    margin:0 0 0 30px;
}

ul.logging li ul li ul{
    margin:0;
}

ul.logging li ul li ul li{
    padding:0;
}

#angket {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    color: #000;
    padding: 30px;
    z-index: 99999999;
    display: none;
}

#angket a {
    color: blue;
    text-decoration: underline;
}